/* dashboard.css */

.dashboard-container {
  max-width: 837px;
  margin: 0 auto;
  margin-top: 12vh;
  padding: 30px;
  background-color: #90909049;
  border-radius: 26px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  /* Loading and Error Messages */
  p {
    font-size: 16px;
    text-align: center;
    color: #ff0000; /* Red color for error messages */
  }
  
  /* You can add more styles or customize as needed */
  