/* Navbar Styles */
nav {
  background-color: #3333335c;
  color: #fff;
  padding: 25px;
  display: flex;
  }

navbar-brand {
  font-size: 35px;
  margin-right: 104vh;
}
  
  ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding from the list */
  }

    li {
      display: inline;
      margin-right: 112px;
  }
  
  a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Text color for the links */
    font-weight: bold; /* Make the text bold */
  }
  
  a:hover {
    text-decoration:rgb(159, 159, 159);
  }
  